<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">聊个球</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">首页 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">测试</a>
                </li>
            </ul>
            <ul class="navbar-nav nav-pills float-right">
                {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            账号
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'password_change' %}?next=/forums/">修改密码</a>
                            <a class="dropdown-item" href="{% url 'logout_then_login' %}?next=/forums/">注销</a>
                            <a class="dropdown-item" href="{% url 'change_profile' %}?next=/forums/">修改资料</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link disabled" href="{% url 'login' %}?next=/forums/">登录</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="{% url 'register' %}?next=/forums/">注册</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
{##}
{##}
{##}
{#<div class="navbar-default navbar-static-top " role="navigation" id="menu">#}
{#    <div class="container">#}
{#        <div class="navbar-header">#}
{#            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">#}
{#                <span class="sr-only">Toggle navigation</span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#            </button>#}
{#            <a class="navbar-brand" href="">聊个球</a>#}
{#        </div>#}
{##}
{#        <ul class="nav navbar-nav navbar-right">#}
{#            {% if request.user.is_authenticated %}#}
{#                <li class="dropdown">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
{#                        <img src="">#}
{#                        账号 <b class="caret"></b>#}
{#                    </a>#}
{##}
{#                    <ul class="dropdown-menu">#}
{#                        <li><a href="{% url 'password_change' %}?next=/forums/">修改密码</a></li>#}
{#                        <li><a href="{% url 'logout_then_login' %}?next=/forums/">注销</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#            {% else %}#}
{#                <li><a href="{% url 'login' %}?next=/forums/">登录</a></li>#}
{#                <li><a href="{% url 'register' %}">注册</a></li>#}
{#            {% endif %}#}
{#        </ul>#}
{#    </div>#}
{#</div>#}