{% extends 'includes/software_base.html' %}


{% block content %}



    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">沪牌一号代拍</h1>
        <p class="lead">提供三种套餐</p>
    </div>

    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">专业</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">&yen8000
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>专业拍手</li>
                        <li>心理过硬</li>
                        <li>手速一流</li>
                        <li>无赔付</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">顶尖</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">&yen12000
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>专业拍手</li>
                        <li>心理过硬</li>
                        <li>手速一流</li>
                        <li>三次不中赔付800</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">宗师</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">低至&yen18000
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>每月仅收三张</li>
                        <li>每次不中立赔500</li>
                        <li>专属宽带</li>
                        <li>专属服务器</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
                </div>
            </div>
        </div>

{#        <footer class="pt-4 my-md-5 pt-md-5 border-top">#}
{#            <div class="row">#}
{#                <div class="col-12 col-md">#}
{#                    <img class="mb-2" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="24"#}
{#                         height="24">#}
{#                    <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>#}
{#                </div>#}
{#                <div class="col-6 col-md">#}
{#                    <h5>Features</h5>#}
{#                    <ul class="list-unstyled text-small">#}
{#                        <li><a class="text-muted" href="#">Cool stuff</a></li>#}
{#                        <li><a class="text-muted" href="#">Random feature</a></li>#}
{#                        <li><a class="text-muted" href="#">Team feature</a></li>#}
{#                        <li><a class="text-muted" href="#">Stuff for developers</a></li>#}
{#                        <li><a class="text-muted" href="#">Another one</a></li>#}
{#                        <li><a class="text-muted" href="#">Last time</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="col-6 col-md">#}
{#                    <h5>Resources</h5>#}
{#                    <ul class="list-unstyled text-small">#}
{#                        <li><a class="text-muted" href="#">Resource</a></li>#}
{#                        <li><a class="text-muted" href="#">Resource name</a></li>#}
{#                        <li><a class="text-muted" href="#">Another resource</a></li>#}
{#                        <li><a class="text-muted" href="#">Final resource</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="col-6 col-md">#}
{#                    <h5>About</h5>#}
{#                    <ul class="list-unstyled text-small">#}
{#                        <li><a class="text-muted" href="#">Team</a></li>#}
{#                        <li><a class="text-muted" href="#">Locations</a></li>#}
{#                        <li><a class="text-muted" href="#">Privacy</a></li>#}
{#                        <li><a class="text-muted" href="#">Terms</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#        </footer>#}
    </div>

{% endblock content %}