{% extends 'includes/forum_base.html' %}

{% block title %}{{ topic.subject }}{% endblock %}

{% block breadcrumb %}
    <div class="container">
        <ol class="breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">主页
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'board_topics' topic.board.slug %}">
                            {{ topic.board.name }}
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        {{ topic.subject }}
                    </li>
                </ol>
            </nav>
        </ol>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="mb-4">
            <a href="{% url 'reply_topic' topic.board.slug topic.slug %}" class="btn btn-primary" role="button">
                回复
            </a>
        </div>
    </div>

    {% include 'includes/all_topic_posts.html' %}

{% endblock %}